---
- name: "Install gpg"
  become: true
  tags: ["apt"]
  when: "ansible_os_family == 'Debian'"
  ansible.builtin.apt:
    pkg:
      - "gnupg"
      - "gnupg-agent"
      - "gnupg-utils"
    state: "present"
    update_cache: true
    cache_valid_time: 3600

- name: "Create ~/.gnupg"
  tags: ["gnupg"]
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.gnupg/"
    state: "directory"
    owner: "{{ ansible_effective_user_id }}"
    group: "{{ ansible_effective_group_id }}"
    mode: "0700"

- name: "Install ~/.gnupg/gpg-agent.conf"
  tags: ["gnupg"]
  ansible.builtin.file:
    src: "{{ role_path }}/gpg-agent.conf"
    dest: "{{ ansible_env.HOME }}/.gnupg/gpg-agent.conf"
    owner: "{{ ansible_effective_user_id }}"
    group: "{{ ansible_effective_group_id }}"
    state: "link"
    force: true

- name: "Install ~/.gnupg/gpg.conf"
  tags: ["gnupg"]
  ansible.builtin.file:
    src: "{{ role_path }}/gpg.conf"
    path: "{{ ansible_env.HOME }}/.gnupg/gpg.conf"
    owner: "{{ ansible_effective_user_id }}"
    group: "{{ ansible_effective_group_id }}"
    state: "link"
    force: true

- name: "Find role pubkeys"
  tags: ["gnupg"]
  register: "pgp_pubkeys"
  ansible.builtin.find:
    paths: "{{ role_path }}/files/pubkeys/"
    patterns:
      - "*.asc"
      - "*.gpg"
    recurse: false
    file_type: "file"

- name: "Import role pubkeys"
  tags: ["gnupg"]
  loop: "{{ pgp_pubkeys.files }}"
  changed_when: false
  ansible.builtin.command:
    cmd: "gpg --import {{ item.path }}"
