# Author:       Casey Sparks
# Date:         November 15, 2023
# Description:  Run ansible-lint against Ansible configs on push and PR.
---
name: "Validate Ansible code"
on:
  pull_request:
    branches: ["main"]
    paths:
      - "collections/**/*.yml"
      - "hosts/**/*.yml"
      - "playbooks/**/*.yml"
    types:
      - "opened"
      - "ready_for_review"
      - "reopened"
      - "synchronize"
jobs:
  ansible_lint:
    name: "Ansible Lint"
    runs-on: "ubuntu-latest"
    env:
      ANSIBLE_CACHE_KEY: "ansible-cache"
      ANSIBLE_CACHE_PATH: "${{ github.workspace }}/ansible/collections/ansible_collections/"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
        with:
          fetch-depth: 0

      - name: "Restore Ansible cache"
        id: "ansible-cache"
        uses: "actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7" # v5.0.2
        with:
          key: "${{ env.ANSIBLE_CACHE_KEY }}"
          path: "${{ env.ANSIBLE_CACHE_PATH }}"

      - name: "Run ansible-lint"
        uses: "ansible/ansible-lint@7f6abc5ef97d0fb043a0f3d416dfbc74399fbda0" # v26.1.1
        with:
          args: ""
          working_directory: "${{ github.workspace }}/ansible/"
          requirements_file: "requirements.yml"
          setup_python: true

      - name: "Save Ansible cache"
        uses: "actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7" # v5.0.2
        with:
          key: "${{ steps.ansible-cache.outputs.cache-primary-key }}"
          path: "${{ env.ANSIBLE_CACHE_PATH }}"
