# Author:       Casey Sparks
# Date:         November 13, 2024
# Description:  Label a pull request with the correct tags.
---
name: "Label Pull Request"
on: ["pull_request"]
jobs:
  label:
    name: "Label Rull Request"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
      pull-requests: "write"
    steps:
      - name: "Auto-label"
        uses: "actions/labeler@8558fd74291d67161a8a78ce36a881fa63b766a9"
        with:
          repo-token: "${{ github.token }}"
          configuration-path: ".github/config/labeler.yml"
          sync-labels: false
          dot: true
          pr-number: "${{ github.event.pull_request.number }}"
