# Author:       Casey Sparks
# Date:         November 22, 2024
# Description:  Lint all markdown files with mdl (mdlint).
---
name: "Validate Markdown files"
on:
  pull_request:
    branches: ["main"]
jobs:
  mdlint:
    name: "mdl"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"  # v6.0.2
        with:
          fetch-depth: 0

      - name: "Run Markdown Lint"
        uses: "actionshub/markdownlint@6c82ff529253530dfbf75c37570876c52692835f"  # v3.1.4
