# Author:       Casey Sparks
# Date:         November 22, 2024
# Description:  Lint all markdown files with mdl (mdlint).
---
name: "Validate Markdown files"
on:
  pull_request:
    branches: ["main"]
jobs:
  mdlint:
    name: "mdl"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8"  # v6.0.1
        with:
          fetch-depth: 0

      - name: "Run Markdown Lint"
        uses: "actionshub/markdownlint@6c82ff529253530dfbf75c37570876c52692835f"  # v3.1.4
