# Author:       Casey Sparks
# Date:         November 08, 2024
# Description:  Lint all shell scripts files with shellcheck.
---
name: "Validate shell code"
on:
  pull_request:
    branches: ["main"]
    paths:
      - "**/*.bash"
      - "**/*.sh"
jobs:
  shellcheck:
    name: "ruff format --check"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8"  # v6.0.1
        with:
          fetch-depth: 0

      - name: "Run shellcheck"
        uses: "ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38"  # v2.0.0
        with:
          severity: "warning"
          check_together: "yes"
          format: "tty"
